<div class="row">
  <% if user_signed_in? %>
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">Your Profile</h2>
        <% if current_user.profile %>
          <%= link_to "Edit your profile", edit_user_profile_path(user_id: current_user.id), class: 'btn btn-warning btn-lg btn-block' %>
          <%= link_to "View your profile", user_path(current_user), class: 'btn btn-warning btn-lg btn-block' %>
        <% else %>
          <p>Create your profile so that you can share your information with the community.</p>
          <%= link_to "Create your profile", new_user_profile_path(current_user), class: 'btn btn-warning btn-lg btn-block'%>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="well">
        <h2 class="text-center">The Community</h2>
        <p>Visit the community to meet other developers, entrepreneurs, and investors!</p>
        <%= link_to "Visit the community", "#", class: 'btn btn-warning btn-lg btn-block' %>
      </div>
    </div>
    <% end %>
</div>

<div class="jumbotron">
  <h1>A Web Dev Team</h1>
</div>

<section>
  <div class="a col-md-4">
  <h3> Fun Facts </h3>
  <p> dkfa;sdlfjlaksdjfl;kadflkjasdlfkj
    aklsdfj;ladfj;lksdjflk;asdjflj
    al;skdjf;laskfj;klasjdfklasdlfk
    al;sdfjka;sdlfjakl;sdf 
  </p>
  </div>
  
  <div class="a col-md-4">
  <h3> Testimony </h3>
  <p> "This Place is great" <br> - Jeff
    </br>
  <br>
    "Definetly will come back" <br> -Bob
  <br>
  <br>
    "Tots ma gotes recommend dog" <br> -Hipster
  </p>
  </div>
  
    <div class="a col-md-4">
  <h3> Online </h3>
  <p> dkfa;sdlfjlaksdjfl;kadflkjasdlfkj
    aklsdfj;ladfj;lksdjflk;asdjflj
    al;skdjf;laskfj;klasjdfklasdlfk
    al;sdfjka;sdlfjakl;sdf 
  </p>
  </div>
  
</section>